<div class="row">
    <div class="col-md-6">
        <h3>Lista de Vendedores</h3>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn-success" ng-click="modal(null)">Adicionar</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>NOME</th>
            <th>EMAIL</th>
            <th>AÇÕES</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="x in grid">
            <td>{{x.name}}</td>
            <td>{{x.email}}</td>
            <td>
                <button 
                ng-click="modal(x)" 
                class="btn btn-info">
                    Editar
                </button>
                <button 
                ng-click="del(x.id)" 
                class="btn btn-danger">
                    Excluir
                </button>
            </td>
        </tr>
    </tbody>
</table>